<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>ProductsController</title>
   <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'/></script>

  <script>
    var myAppModule = angular.module('myApp', [])

    myAppModule.factory("productFactory", function(){
      var factory = {};
      var products = [];
      var id = 0; 
      //iniT products
      factory.findProducts = function(callback){
        callback(products)
      }

      //add product 
      factory.addProduct = function(newProduct, callback){
        newProduct.qty = 50; 
        newProduct.id = id; 
        id ++;
        products.push(newProduct);
        callback(products);
      }

      factory.removeProduct = function(destroyProduct, callback){
        var index = products.indexOf(destroyProduct);
        products.splice(index, 1);
        callback(products);      
      }

      factory.buyProduct = function(boughtProduct, callback){
        console.log("item bought")
        if(boughtProduct.qty < 1){
          boughtProduct.qty = "Sold out";
        }
        if(typeof boughtProduct.qty !== 'string'){
          boughtProduct.qty --
        }
      }
      return factory;
    })
    //create User controller 
    myAppModule.controller("productsController", function($scope, productFactory){
      //init products will equal a empty array 
      productFactory.findProducts(function(products){
        $scope.products = products; 
      })
      
      $scope.addProduct = function(){
        productFactory.addProduct($scope.newProduct, function(products){
          $scope.products = products; 
          console.log(products)
        })
       $scope.newProduct = null;

      };

      $scope.removeProduct = function(destroyProduct){ 
        productFactory.removeProduct(destroyProduct, function(products){
          $scope.products = products;  
        })
      };

    })

    myAppModule.controller("ordersController", function($scope, productFactory){
    

      productFactory.findProducts(function(products){
        $scope.products = products;
      })

      $scope.buyProduct = function(boughtProduct){
       productFactory.buyProduct(boughtProduct, function(products){
        $scope.products = products;
        console.log($scope.products);

       })
      }

    })


  </script>
</head>
<body>
<h2>Product dashboard manager, 2 controllers </h2>
  <div ng-controller="productsController">
    <form >
      <input type="text" ng-model="newProduct.name" placeholder="Product">
      <input type="number" class="currency" min="0.01" max="2500.00" value="25.00" ng-model="newProduct.price"/>
      <input type="submit" value="addProduct" ng-click="addProduct()">
    </form>
    <table>
      <tr>
        <td>Product</td>
        <td>Price($)</td>
        <td>Remove</td>
      </tr>
      <tr id= "products_table" ng-repeat="product in products track by $index">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><button ng-click="removeProduct(product)">Remove</button></td>
      </tr>

    </table>
  </div>
  <div ng-controller="ordersController">
    <table>
      <tr>
        <td>Product</td>
        <td>Price($)</td>
        <td>Qty</td>
        <td>Action</td>
      </tr>
      <tr id= "products_table" ng-repeat="product in products track by $index">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.qty}}</td>
        <td><button ng-click="buyProduct(product)">buy</button></td>
      </tr>

    </table>




  </div>
</body>
</html>